<div class="d-flex justify-content-start">
    <div class="spinner-grow text-primary" role="status" aria-hidden="true"></div>
    <div class="d-flex align-items-center">
        <span>Загрузка данных...</span>
    </div>
</div>